.page-musica{
  .subMenu {
    .subContent {
      display: inline-flex;
      background: #7D7D7D url('/img/textura.png') repeat top left;
      letter-spacing: 0.06rem;
      position: relative;
      z-index: 3;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
      margin: 0;
    }
    &.musica .subContent{ background-color: $color-musica;}
    &.musica ul.menu{ background-color: $color-musica-light;}
    &.musica ul.menu{ background-color: $color-musica-light;}
  }
  figure{
    margin:0;
  }
  td {
    font-size: 13px;
    line-height: 18px;
  }

}

.page-museo{
  .subMenu {
    .subContent {
      display: inline-flex;
      background: #7D7D7D url('/img/textura.png') repeat top left;
      letter-spacing: 0.06rem;
      position: relative;
      z-index: 3;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      margin: 0;
    }
    &.cMuseo .subContent{ background-color: $color-museo;}
    &.cArte .subContent{ background-color: $color-arte;}
    &.cBvirtual .subContent{ background-color: $color-bvirtual;}
    &.cBiblio .subContent{ background-color: $color-biblio;}
    &.cAreas .subContent{ background-color: $color-areas;}
    &.cIndex .subContent{ background-color: $color-index;}
  }
}

.page-acerca-de-opus{
  img{
    float: left;
    margin-right: 15px;
  }
  .text-image-left{
        text-align: justify;
  }
}

.node-detail{
   .concert-date{
     font-size: 12px;
     color: #999;
     font-style: italic;
     display: block;
     line-height: 26px;
  }
  .concert-code{
    font-size: 11px;
    color: #999;
    display: block;
    line-height: initial;
  }
  .serie{
    font-size: 16px;
    display: block;
  }
  .instrumento{
    font-size: 16px;
    font-style: italic;
    color: #999;
    display: block;
  }
  .notas{
    font-size: 11px;
  }
  .text-red{
    color:#cd1c40;
  }
  li div {
    float: left;
  }

}

.form-help{
  margin: 10px 0px;
  background: #7E7E7E;
  border: solid 0px #860707;
  padding: 5px;
  text-align: center;
  h5{
    color: #fff;
  }
  label{
    color: #Fff;
  }
  a{
    color: #fff;
    &:hover{
      color: #5F2A34;
    }
  }
}
