.search{
  height: auto;
  background-color: #a3122f;
  color: white;

  md-autocomplete{
    height: 30px;
    md-autocomplete-wrap{
      height: 30px;
      input{
        height: 30px;
        font-size: 14px;
        margin: 0;
        padding: 0 15px;
        line-height: 1;
      }
    }
  }

  md-input-container{
    float: left;
    width: 60px;
    margin: 0;
    height: 38px;
    margin-top: 12px;
    margin-right: 24px;
    margin-bottom: 10px;
    input{
      color:#fff;
    }

  }

  select{
    height: 30px;
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    line-height: 1;
  }
  md-slider{
    height: 30px;
  }

  .about{
    padding: 10px;
    background-color: #cccccc;
    color: #94132c;
    font-size: 0.7rem;
  }
  .searchlabel{
    padding: 2px 9px;
    background-color: #820e26;
    font-size: 15px;
    text-align: left;
  }
  .fields{
    .field{
      padding: 10px;
      margin:5px 0;
      label{
        color: white;
        font-size: 0.7rem;
      }
      input[type='text']{
        border: none;
        height: 30px;
      }
      input[type='submit']{
        border: 1px solid #eee;
        padding: 5px;
        color: white;
        background-color: #a3122f;
        font-style: italic;
        font-size: Roboto;
      }
    }
  }
  .filters{
    height: 100px;
    background-color: #c3c3c3;
  }
    span{ padding: 20px;
    display: inline-block;
    font-size: 17px;
  }
}


.results-view{
  .results{
    padding: 20px;
    background-color: white;
    color: black;
    display: inline-block;
    overflow-y: scroll;
    height: 513px;
    border-top: 3px #af2743 solid;
  }

  .fields{
    .field{
      float: left;
    }
  }
  .filters{
    height: 100px;
    background-color: #c3c3c3;
  }
  input[type='submit']{
    border: 1px solid #eee;
    padding: 5px;
    color: white;
    background-color: #a3122f;
    font-style: italic;
    font-size: Roboto;
  }
  .concert-date{
    font-size: 11px;
    color: #A7A7A7;
  }
  .concert-artist{
    a{
      font-size: 15px;
      color: #cc1f43;
    }
  }
  .concert-title{
    font-size: 13px;
    color: #9a3e4f;
  }
  .concert-instrument{
    font-size: 11px;
    color: #A7A7A7;
  }

  .accordion-title{

    background-color: #A3122F;
    color: #fff;
  }

}
.filter-accordion{
  .accordion-title{
    background-color: #CA3352;
    color: #fff;
  }
  .is-active .accordion-title{
    background-color: #A3122F;
    color: #fff;
  }
  .accordion-content{
    background-color: #c3c3c3;
    color:#0a0a0a;
  }
}
.detail,.LeftBar{
  h5{
    color:#cd1c40;
  }
  h4{
    color:#cd1c40;
  }
  h6{
    color:#cd1c40;
  }

}
.LeftBar{
  background-color:#dcdcdc;
}
.search-detail{
  padding: 20px;
}
.list-program{
  ul{
    list-style-type: decimal;
  }
}
.hover-info-related{
    background-color: rgba(9, 9, 9, 0.74);
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: #fff;
    line-height: 21px;
    padding: 6px;
}
.borders-a{
  border-top: solid 5px #cd1c40;
  border-bottom: solid 2px #cd1c40;
}
.padding-a{
  padding-top: 15px;
padding-bottom: 15px;
}
.padding-b{
  padding-left: 15px;
padding-right:15px;
}

.text-gray{
    color:#666666;
}
.text-center{
  text-align: center;
}
.bold{
    font-weight: bold;
}
.coursive{
      font-style: oblique;
}
.breadcrumb{
  height: 50px;
  background-color: #c3c3c3;
}
.node-related{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 125px;
  position: relative;
}

.search-similar{
  background-color: #cd2043;
  span{
    color: #fff;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
  }
}
