.red{
  color: #cd1c40;
}


.acerca-de-opus{
  color:#992e40;
  width: 100%;
  display: inline-block;
  background: url("http://blaafront2.local/img/acerca_de_opus.png") no-repeat;
  background-position: 100%;
  background-size: 15px 15px;
  text-align: center;
  text-decoration: underline;
  font-size: 1em;
}
.search{
  height: auto;
  background-color: #a3122f;
  color: white;

  md-autocomplete{
    height: 30px;
    md-autocomplete-wrap{
      height: 30px;
      input{
        height: 30px;
        font-size: 0.9em;
        margin: 0;
        padding: 0 15px;
        line-height: 1;
        color: #666;
      }
    }
  }

  md-input-container{
    float: left;
    margin: 0;
    height: 38px;
    margin-top: 12px;
    margin-right: 24px;
    margin-bottom: 10px;
    input{
      color:#666;
    }

  }
  select{
    height: 30px;
    font-size: 0.9em;
    margin: 0;
    padding: 0 15px;
    line-height: 1;
    color: #666;
  }
  md-slider{
    margin-left: 0px;
    margin-right: 0px;
  }
  md-input-container.md-input-has-value{
    margin:0;
  }

  .about{
    padding: 10px;
    background-color: #cccccc;
    color: #94132c;
    font-size: 0.7rem;
  }
  .searchlabel{
    padding: 9px 9px;
    background-color: #820e26;
    font-size: 0.9em;
    line-height: 18px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
  .fields{
    .field{
      padding: 10px;

      label{
        color: white;
        font-size: 0.9em;
        font-family: 'Roboto', sans-serif;
      }
      input[type='text']{
        border: none;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        color: #666;
        font-size: 0.9em;
      }
      input[type='submit'],input[type='reset']{
        border: 1px solid #eee;
        padding: 5px;
        color: white;
        background-color: #a3122f;
        font-family: 'Roboto', sans-serif;
        margin: 2px 0;
        font-size: 0.9em;
      }
    }
  }
  .filters{
    height: 100px;
    background-color: #c3c3c3;
  }
    span{ padding: 20px;
    display: inline-block;
    font-size: 17px;
  }
}


.results-view{
  .paginator{
    background:#dcdcdc;
    padding: 10px 0;
  }
  .number-page{
    text-align: right;
    a{
      color:#666;
      font-size: 0.8em;
      padding: 0 5px;
    }
    &.search{
      text-align: left;
      background: none;
    }
  }
  .results{
    padding: 20px;
    background-color: white;
    color: black;
    display: inline-block;
    overflow-y: scroll;
    height: 513px;
    border-top: 3px #af2743 solid;
  }

  .fields{
    display:inline-block;
    margin-top: 5px;
    .field{
      float: left;
    }
  }

  .filters{
    height: 100px;
    background-color: #c3c3c3;
    padding: 12px 2px;
  }
  input[type='text']{
   width:70%;
   float:left;
   height: 22px;
  margin: 0;
  }
  input[type='submit']{
   border: 1px solid #FFFFFF;
    padding: 0px 6px;
    color: #a3122f;
    background-color: #eee;
    font-style: normal;
    font-size: 0.9em;
  }
  .concert-date{
    font-size: 10px;
    color: #999;
  }
  .concert-artist{
    a{
      font-size: 1.2em;
      color: #cc1f43;
    }
  }
  .concert-title,.red{
    font-size: 0.9em;
    color: #9a3e4f;
    line-height: 18px;
  }
  .concert-instrument{
    font-size: 10px;
    color: #999;
  }

  .accordion-title{

    background-color: #A3122F;
    color: #fff;
  }

}
.filter-accordion{
  .accordion-title{
    background-color: #CA3352;
    color: #fff;
  }
  .is-active .accordion-title{
    background-color: #A3122F;
    color: #fff;
  }
  .accordion-content{
    background-color: #c3c3c3;
    color:#464646;
    font-size: 0.9em;

  }
}
.detail,.LeftBar{
  h5{
    color:#cd1c40;
  }
  h4{
    color:#cd1c40;
  }
  h6{
    color:#cd1c40;
  }

}
.LeftBar{
  background-color:#dcdcdc;
}
.search-detail{
  padding: 20px;
}
.list-program{
  ul{
    list-style-type: decimal;
  }
}
.hover-info-related{
    background-color: rgba(9, 9, 9, 0.74);
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: #fff;
    line-height: 21px;
    padding: 6px;
}
.borders-a{
  border-top: solid 5px #cd1c40;
  border-bottom: solid 2px #cd1c40;
}
.padding-a{
  padding-top: 15px;
padding-bottom: 15px;
}
.padding-b{
  padding-left: 15px;
padding-right:15px;
}

.text-gray{
    color:#666666;
}
.text-center{
  text-align: center;
}
.bold{
    font-weight: bold;
}
.coursive{
      font-style: oblique;
}
.breadcrumb{
  height: 50px;
  background-color: #c3c3c3;
}
.node-related{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 125px;
  position: relative;
}

.search-similar{
  background-color: #cd2043;
  span{
    color: #fff;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
  }
}

.input{
  margin: 5px 0;
  display:inline-block;
}

.image{
  height: 229px;
}

.image-landing{
  height: 225px;
}
hr{
  &.light{
    border-bottom: 1px solid #fff;
  }
}
.item{
  font-size: 0.8em;
  color: #333;
  &.red{
    color: #b91737;
    font-size: 0.8em;
  }
}

.callout.large.success.custom {
    padding: 5px;
    color: white;
    background: #808080 !important;
    border: none;
    font-size: 15px !important;
    text-shadow: none;
    margin: 0;
    text-align: center;
}
.close-button{
  color: #fff !important;
}

.node-detail{
  .item-li {


  }
  .titulo{
    display:inline-block;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .compositor{
     display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .año{
     display:inline-block;
       white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
