/*Variables*/

$sombraBloqueBuscadorOpus : 0px 0px 10px rgb(163, 18, 47);
$colorBlanco : #fff;
$fondoRosadoBuscador:#a3122f;
$color-title : #cd1c40;
$fondoBotonBuscador : #5f2a34;
/*Variables*/

h5{
  color: $color-title;
}

.red{
  color: $color-title;
}
.acerca-de-opus{
  color:#992e40;
  width: 100%;
  display: inline-block;
  background: url("http://blaafront2.local/img/acerca_de_opus.png") no-repeat;
  background-position: 100%;
  background-size: 15px 15px;
  text-align: center;
  text-decoration: underline;
  font-size: 1em;
  img{
    float: left;

  }
  a{
    color:#992e40;
  }
  &:hover{
    color:#000;
  }
}

.collage-imagenes{
  float: left;
}
/**************************/
/*Estilos para el buscador*/
/**************************/
.search{
  height: auto;
  background-color: $fondoRosadoBuscador;
  color: white;
  padding: 0!important;
  height: 675px;
  width: 321px;
  .lastupdate{
    font-size: 10px;
    padding:0;
    text-align: center;
  }
  .range-date{

    padding: 0;
    input{
      width: 131px!important;
      font-size: 10px!important;
      height: 25px!important;
      color: #000!important;
      background: #fff;
    }
  }

  md-autocomplete{
    height: 30px;
    md-autocomplete-wrap{
      height: 30px;
      input{
        height: 30px;
        font-size: 0.9em;
        margin: 0;
        padding: 0 15px;
        line-height: 1;
        color: #666;
      }
    }
  }
  md-input-container{
    float: left;
    margin: 0;
    height: 38px;
    margin-top: 12px;
    margin-right: 24px;
    margin-bottom: 10px;
    input{
      color:#666;
    }
  }
  select{
    height: 30px;
    font-size: 0.9em;
    margin: 0;
    padding: 0 15px;
    line-height: 1;
    color: #666;
  }
  md-slider{
    margin-left: 0px;
    margin-right: 0px;
  }
  md-input-container.md-input-has-value{
    margin:0;
  }
  md-input-container{
    input[name="year"]{
      color:$colorBlanco;
      border: 1px solid;
      width: 60px;
    }
  }

  .about{
    padding: 10px;
    background-color: #cccccc;
    color: #94132c;
    font-size: 0.7rem;
  }
  .searchlabel{
    padding: 9px 9px;
    background-color: #820e26;
    font-size: 0.9em;
    line-height: 18px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
  .fields{
    .field{
      padding: 5px 10px 5px 10px;
      label{
        color: white;
        font-size: 0.9em;
        font-family: 'Roboto', sans-serif;
      }
      #palabra_clave{
        margin-bottom: 0;
      }
      input[type='text']{
        border: none;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        color: #666;
        font-size: 0.9em;
      }
      input[type='submit']{
        border: 1px solid #eee;
        padding: 10px 5px;
        color: white;
        background-color: $fondoBotonBuscador;
        font-family: 'Roboto', sans-serif;
        margin: 2px 0;
        font-size: 0.8em;
        background-image: url('/img/search.png');
        background-repeat: no-repeat;
        background-position: 33px 8px;
      }
      input[type='reset']{
        padding: 10px 5px;
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-left: none;
        color: white;
        background-color: #8e122b;
        font-family: 'Roboto', sans-serif;
        margin: 2px 0;
        font-size: 0.8em;
        background-image: url('/img/clear.png');
        background-repeat: no-repeat;
        background-position: 15px 9px;
      }
    }
  }
  .filters{
    height: 100px;
    background-color: #c3c3c3;
  }
    span{ padding: 20px;
    display: inline-block;
    font-size: 17px;
  }
}

/***************************************/
/* Estilos vista de resultados         */
/***************************************/
.number-items {
  padding-top: 10px;
}
.number-page {
  padding-top: 8px;
}
.results-view{
  #order-by{
      background-image: url('/img/order.png');
      background-size: 25px 21px;
      width: 25px;
      display: inline-block;
      height: 21px;
    padding-top: 2px;
  }
  .order-by{
    text-align: center;
    padding-top: 10px;
  }
  label{
    font-size: 10px;
  }
  .items-search{
    background:#dcdcdc;
    padding-top: 0px;
  }
  .paginator{
    background:#dcdcdc;
    padding: 17px 0;
  }
  .number-page{
    text-align: right;

    a{
      color:#666;
      font-size: 0.8em;
      padding: 0 5px;

    }
    &.search{
      text-align: left;
      background: none;
    }
  }
  .results{
    padding: 20px;
    background-color: white;
    color: black;
    display: inline-block;
    //overflow-y: scroll;
    height: auto;
    border-top: 3px #af2743 solid;
  }

  .fields{
    display:inline-block;
    margin-top: 5px;
    .field{
      float: left;
    }
  }
  .filters{
    height: 100px;
    background-color: #c3c3c3;
    padding: 12px 2px;
  }
  input[type='text']{
   width:70%;
   float:left;
   height: 22px;
  margin: 0;
  }
  input[type='submit']{
   border: 1px solid #FFFFFF;
    padding: 0px 6px;
    color: $fondoRosadoBuscador;
    background-color: #eee;
    font-style: normal;
    font-size: 0.9em;
  }
  .concert-date{
    font-size: 10px;
    color: #666;
    font-style: italic;
    display: block;
    line-height: 16px;
  }
  .concert-code{
    font-size: 10px;
    color: #999;
    display: block;
    line-height: 20px;
  }
  .concert-artist{
    a{
      font-size: 1.2em;
      color: #cc1f43;
    }
  }
  .concert-title,.red{
    font-size: 0.9em;
    color: #9a3e4f;
    line-height: 18px;
  }
  .concert-instrument{
    font-size: 10px;
    color: #999;
  }

  .accordion-title{

    background-color: #A3122F;
    color: $colorBlanco;
  }

}
/****************************/
/*Estilos buscador acrodion */
/****************************/
.filter-accordion{
  .accordion-title{
    background-color: #CA3352;
    color: $colorBlanco;
  }
  .is-active .accordion-title{
    background-color: #A3122F;
    color: $colorBlanco;
  }
  .accordion-content{
    background-color: #c3c3c3;
    color:#464646;
    font-size: 0.9em;

  }
}

.detail,.LeftBar{
  h5{
    color:#cd1c40;
  }
  h4{
    color:#cd1c40;
    margin: 4px 0px;
  }
  h6{
    color:#cd1c40;
  }
}

.LeftBar{
  background-color:#dcdcdc;
}
.search-detail{
  padding: 20px;
}
.list-program{
  margin-bottom: 12px;
  ul{
    list-style-type: none;
    font-size: 13px;
  }
}
.hover-info-related{
    background-color: rgba(9, 9, 9, 0.74);
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: $colorBlanco;
    line-height: 21px;
    padding: 6px;
}
.borders-a{
  //border-top: solid 5px #cd1c40;
  border-bottom: solid 2px #cd1c40;
}
.padding-a{
  padding-top: 15px;
padding-bottom: 15px;
}
.padding-b{
  padding-left: 15px;
padding-right:15px;
}

.text-gray{
    color:#666666;
}
.text-center{
  text-align: center;
}
.bold{
    font-weight: bold;
}
.coursive{
      font-style: oblique;
}
.breadcrumb{
  height: 50px;
  background-color: #c3c3c3;
}
.node-related{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 125px;
  position: relative;
}

.search-similar{
  background-color: #cd2043;
  span{
    color: $colorBlanco;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
  }
}

.input{
  margin: 5px 0;
  display:inline-block;
}

.image{
  height: 229px;
}

.image-landing{
  height: 225px;
}
hr{
  &.light{
    border-bottom: 1px solid $colorBlanco;
  }
}
.item{
  font-size: 0.8em;
  color: #333;
  &.red{
    color: #b91737;
    font-size: 0.8em;
  }
}

.callout.large.success.custom {
    padding: 5px;
    color: white;
    background: #808080 !important;
    border: none;
    font-size: 15px !important;
    text-shadow: none;
    margin: 0;
    text-align: center;
}
.close-button{
  color: $colorBlanco !important;
}

.page-concierto{
  .node-detail{
    .item-li {
    }
    .titulo{
      display:inline-block;
        white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .compositor{
       display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .año{
       display:inline-block;
         white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.page-musica-acerca-de-opus ul li{
  color:$color-title;
}

.content-wrapper{
  padding: 20px 0;
}
.padding-buttom{
  padding-bottom: 20px;
}
.number-items{
  #number-items{
    font-size: 13px;
    padding: 0 5px;
    margin: 0;
    width: 50px;
    height: 27px;
    line-height: 10px;
  }
  span{
    font-size: 10px;
  }
}


.pagination {
  display: inline-block;
  margin: 0!important;
  .current{
    padding: 0!important;
    background: #ca2b4b!important;
    a{color: #fff!important;}
  }
}


#icono_programa{
  background-image:url('/img/opus/programa_ico.jpg');
  width: 83px;
    height: 31px;
    display: block;
    background-size: 84px 31px;
}
.programa-en-detalle{
  position: absolute;
  right: 0;
  top:5px;
}
.relative{
  position: relative;
}
