$color-index: #7D7D7D;
$color-areas: #6D3362;
$color-arte: #EB9933;
$color-biblio: #9CBA42;
$color-bvirtual: #5EA0C4;
$color-museo: #9F6A35;
$color-musica: #D02B4C;
$color-musica-light: #D13152;
$color-musica-dark: #A8203B;