
$dropdownmenu-arrow-color: rgba(209, 49, 82, 0.9);
$sombraMenuSecundario: 0px 4px 10px rgba(88, 88, 88, 0.49);

.page-musica{
 .subMenu.musica{
  	ul.menu.trasparent{
  		background:$dropdownmenu-arrow-color;
      border: none;
  		li{
  			padding: 10px;
      		border: 1px solid rgba(203, 44, 76, 0.49);
  			a{
  				background: rgba(255, 255, 255, 0);
  				border-top:0;
          }
        &:hover{
              background-color: #820E26;
          }
			  }
  		}
  }
  .subMenu{
    .menu.dropdown{
      box-shadow: $sombraMenuSecundario;
    }
  }
  .dropdown.menu{
    .is-dropdown-submenu-parent.is-down-arrow > a::after{
          border-color: #FFFFFF transparent transparent;
    }
  }
}
